body {
  width: 50%;
  border:  double;
  margin: auto;
  text-align: center;
}
#name, #email, #number {
  margin: 5px auto;
  width: 100%;
}
legend {
  text-align: left;
}
fieldset {
  border-radius: 10px;
}
#about-user {
  margin: 5% 5%;
  text-align: left;
}
#survey-info {
  margin: 5% 5%;
  text-align: center;
  padding-bottom: 0px;
}
textarea {
  vertical-align: middle;
}
ol {
  list-style-position: inside;
  /* display: inline-block; */
  /* background: orange; */
  /* text-align: center; */
}
li {
  /* background: cyan; */
  margin-bottom: 2%;
  /* padding-left: 5%; */
}
#submit {
  padding: 10px 45px;
  margin-bottom: 10px;
}
